body,html,#root {
  margin: 0;
  background: #e4e4e4;
  width:100vw;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
